body {
  background: #8360c3; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #2ebf91,
    #8360c3
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

i {
  color: rgb(55, 181, 150);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: Quicksand;
}

#container {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  width: 75%;
  margin: 100px auto;
  background: #f7f7f7;
}

li {
  background: white;
  height: 40px;
  line-height: 40px;
  color: #666;
}

li:nth-child(2n) {
  background: #f7f7f7;
}

h1 {
  background: grey;
  color: white;
  text-align: center;
  font-family: Quicksand;
}

h3 {
  text-align: center;
  font-family: Quicksand;
}
